@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    background-color: rgb(0, 0, 0, .2);
    height: 3rem;
    position: fixed;
}

.chocapic{
    height: 120vh;
    background-image: url(Assets/Wallpaper.jpg);
    background-size: cover;
}